@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card-background: #c6c5c5;
  --muted: #9d9d95;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card-background: var(--card-background);
  --color-muted: var(--muted);
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
    --card-background: #040503;
    --muted: #9d9d95;
    --dot-color: #ffffff;
  }
}
/*  //#ffad33; */
body {
  background: var(--background);
  color: var(--foreground);
}

.grid-bg {
  position: relative;
  z-index: 0;
}
.grid-bg::before {
  content: '';
  position: absolute;
  inset: 0 2px 0 0;
  z-index: -1;
  pointer-events: none;

  background: linear-gradient(to left, transparent, var(--card-background) 30%),
    linear-gradient(to bottom, var(--card-background) 1%, transparent),
    linear-gradient(to top, var(--card-background) 1%, transparent),
    radial-gradient(circle at 5px 4px, var(--dot-color) 1px, transparent 2px, transparent 8px) 0 0 / 5px 5px;

  background-blend-mode: multiply, /* only blend the first layer to keep dots hidden */ normal, normal, normal;
  border-radius: 6px;
}

.badge {
  background: linear-gradient(
    to top,
    color-mix(in srgb, var(--badge-primary) 20%, transparent),
    color-mix(in srgb, var(--badge-primary) 10%, transparent) 70%,
    color-mix(in srgb, var(--badge-primary) 5%, transparent) 90%,
    transparent
  );
  border-radius: 3px;
  color: var(--badge-primary);
  box-shadow: 0 0 0 0.5px color-mix(in srgb, var(--badge-primary) 20%, transparent),
    /* thin outline */ 0 0 8px 0 color-mix(in srgb, var(--badge-primary) 10%, transparent); /* soft glow */
}

*[data-swapy-dragging],
*[data-swapy-highlighted] {
  transform: rotate(-3deg);
}
